.spinner {
  margin: 0 auto;
  padding: 10px 0;
}

.spinner-circle {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border-left-color: #3498db;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
