.float-container {
  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  right: 10;
  width: fit-content;
  padding: 10px;
  gap: 10px;
}

.btn-nav {
  font-size: x-large;
  //   padding: 10px;
  position: relative;
  min-width: fit-content;
  cursor: pointer;

  &.btn-delete_marked {
    color: rgb(234, 57, 57);
  }

  &.btn-delete_all {
    color: rgb(116, 0, 0);
    font-size: x-large;
  }
}
