body {
  margin: 20px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgba(219, 219, 219, 1);
  background: -moz-linear-gradient(
    left,
    rgba(219, 219, 219, 1) 0%,
    rgba(255, 255, 255, 1) 37%,
    rgba(254, 254, 254, 0.99) 70%,
    rgba(230, 250, 227, 0.99) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(219, 219, 219, 1)),
    color-stop(37%, rgba(255, 255, 255, 1)),
    color-stop(70%, rgba(254, 254, 254, 0.99)),
    color-stop(100%, rgba(230, 250, 227, 0.99))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(219, 219, 219, 1) 0%,
    rgba(255, 255, 255, 1) 37%,
    rgba(254, 254, 254, 0.99) 70%,
    rgba(230, 250, 227, 0.99) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(219, 219, 219, 1) 0%,
    rgba(255, 255, 255, 1) 37%,
    rgba(254, 254, 254, 0.99) 70%,
    rgba(230, 250, 227, 0.99) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(219, 219, 219, 1) 0%,
    rgba(255, 255, 255, 1) 37%,
    rgba(254, 254, 254, 0.99) 70%,
    rgba(230, 250, 227, 0.99) 100%
  );
  background: linear-gradient(
    to right,
    rgba(219, 219, 219, 1) 0%,
    rgba(255, 255, 255, 1) 37%,
    rgba(254, 254, 254, 0.99) 70%,
    rgba(230, 250, 227, 0.99) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#e6fae3', GradientType=1 );
}

.root {
  width: 600px;
  margin: auto;
  // background-color: aqua;
  box-shadow: 4px 6px 22px rgba(#0000, 0.4);
  padding: 15px;
}
